<!DOCTYPE html>
<html ng-app="loginModule">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/loginStyles.css"/>
		<title>STAR CAR POOL</title>
		<script src="js/lib/jquery-2.1.3.js"></script>
		<script src="js/lib/angular.min.js"></script>
		<script src="js/lib/pouchdb-5.1.0.min.js"></script>
		<script src="js/constants.js"></script>
		<script src="js/controller/loginController.js"></script>
	</head>
	<body>
		<div class="loginSection" ng-controller="loginController">
			<div class="registerSpace">
				<div class="loginForm">
					<div class="errorMsg">{{errorMsg}}</div>
					<form autocomplete="on">
						<input type="text" placeholder="Name" ng-model="signUpData.name"/>
						<input type="text" placeholder="Email Id" ng-model="signUpData.email"/>
						<input type="text" placeholder="Mobile" ng-model="signUpData.mobile"/>
						<input type="radio" name="gender" ng-model="signUpData.gender" value="male" checked>Male
  						<input type="radio" name="gender" ng-model="signUpData.gender" value="female">Female
						<input type="text" placeholder="Enter Car Number (optional)" ng-model="signUpData.vehicleNo"/>
					</form>
					<button class="right" ng-click="registerUser()">REGISTER</button>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="loginSpace">
				<div class="logo"></div>
				<div class="loginForm">
					<div class="errorMsg">{{errorMsg}}</div>
					<form autocomplete="on">
						<input type="text" placeholder="Email Id" ng-model="loginData.email"/>
						<input type="text" placeholder="Vehicle Number" ng-model="loginData.vehicleNo"/>
					</form>
					<button class="right" ng-click="loginUser()">LOGIN</button>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</body>
</html>